<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <style>
        body {
            background-color: #E5FFCC;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        h1{
            padding-top: 150px;
            text-align: center;
        }

        p{
            text-align: center;
        }

        h4 {
            text-align: center;
        }

    </style>
</head>
<body>
    
    <div>
        <h1>Selamat datang di Web challenge Binar Academy</h1>
        <br>
        <p>Oleh :</p>
        <h4>Nurul Hidayah</h4>
        <h4>nurulhidayah121101@gmail.com</h4>
        <h4>Universitas Negeri Semarang</h4>
    </div>
</body>
</html>