body{
    background-color: #E5FFCC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form {
    margin-top: 150px;
    background-color: #CCCCFF;
    height: 320px;
    width: 310px;
    justify-content: center;
    display: inline-table;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2), 0 4px 0px 0px rgba(0, 0, 0, 0.19);
    padding-top: 20px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    
}

h1 {
    text-align: center;
}

.reg-login {
    text-align: center;
}

form {
    padding-left: 70px;
    border-radius: 10px;
}

.form-forgot {
    padding-top: 20px;
    margin-top: 150px;
    background-color: #CCE5FF;
    height: 250px;
    width: 310px;
    justify-content: center;
    display: inline-table;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2), 0 4px 0px 0px rgba(0, 0, 0, 0.19);
    /* padding-left: 70px; */
}

.log-reset {
    text-align: center;
}

.form-login {
    margin-top: 150px;
    background-color: #CCFFCC;
    height: 300px;
    width: 310px;
    justify-content: center;
    display: inline-table;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2), 0 4px 0px 0px rgba(0, 0, 0, 0.19);
    padding-top: 20px;
    
}

