<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./css/style.css">

    
</head>
<body>
    <div class="wrap">
        <div class="form">
            <h1>Create Account</h1>
            <form action="http://localhost:5000/user_game" method="POST">
                <p><input type="text" id="username" name="username" placeholder="Masukkan username kamu" required></p>
                <p><input type="email" id="email" name="email" placeholder="Masukkan email kamu" required></p>
                <p><input type="text" id="password" name="password" placeholder="Masukkan password kamu" required></p>
                <p><input type="submit" nama="" value="Buat Akun"></p>
            </form>
            <br>
            <div class="reg-login">
                <p>Punya akun? <a href="http://localhost:5000/login">Login</a></p>
            </div>
        </div>
    </div>
    
    
</body>
</html>