<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wrap">
        <div class="form-forgot">
            <h1>Forgot Password</h1>
            <form action="http://localhost:5000/user_game/forgot-password" method="POST">
                <p><input type="string" id="username" name="username" placeholder="Masukkan username kamu" required></p>
                <p><input type="email" id="email" name="email" placeholder="Masukkan email kamu" required></p>
    
    
                <p><input type="submit" nama="" value="forgot password"></p>
            </form>
        </div>
    </div>
    
    
</body>
</html>