<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wrap">
        <div class="form-login">
            <h1>Login</h1>
            <form action="http://localhost:5000/user_game/login" method="POST">
                <p><input type="email" id="email" name="email" placeholder="Masukkan email kamu" required></p>
                <p><input type="text" id="password" name="password" placeholder="Masukkan password kamu" required></p>
    
                <p><input type="submit" nama="" value="login" class="submit"></p>
            </form>
            <br>
            <div class="log-reset">
                <p>Lupa Password? <a href="http://localhost:5000/forgot-password">Reset Password</a></p>
            </div>
           
        </div>
    </div>
    
</body>
</html>