<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Passsword</title>

    <style>
        body {
            background-color: #E5FFCC;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px; 
        }

        h1 {
            text-align: center;
        }

        form {
            padding-left: 70px;
            border-radius: 10px;
        }

        .form{
            margin-top: 150px;
            background-color: #FFF999;
            height: 250px;
            width: 310px;
            justify-content: center;
            display: inline-table;
            align-items: center;
            border-radius: 25px;
            box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2), 0 4px 0px 0px rgba(0, 0, 0, 0.19);
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="form">
            <h1>Reset password</h1>
            <form action="http://localhost:5000/user_game/reset-password/<%=user_id%>?token=<%= token%>" method="POST">
                <p><input type="text" id="password_baru" name="password_baru" placeholder="Masukkan password baru kamu" required></p>
                <p><input type="text" id="password_baru_confirm" name="password_baru_confirm" placeholder="Masukkan konfimasi password baru kamu" required></p>
    
    
                <p><input type="submit" nama="" value="reset password"></p>
            </form>
        </div>
    </div>
    
</body>
</html>